<div class="header-topbar">
    <div class="wrapper d-flex">
        <div class="page-brand">
            <a class="link" routerLink="/index">
                <span class="brand">PVAMU
                    <span class="brand-tip">De-Anonymization</span>
                </span>
            </a>
        </div>
        <div class="d-flex justify-content-between align-items-center flex-1">
            <!-- START TOP-LEFT TOOLBAR-->
            <ul class="nav navbar-toolbar">
                <li>
                    <a class="nav-link sidebar-toggler js-sidebar-toggler" href="javascript:;">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                </li>
                <li>
                    <a class="nav-link search-toggler js-search-toggler">
                        <i class="ti-search"></i>
                        <span>Search here...</span>
                    </a>
                </li>
            </ul>
            <!-- END TOP-LEFT TOOLBAR-->
            <!-- START SEARCH PANEL-->
        </div>
    </div>
</div>
<div class="top-navbar">
    <div class="wrapper" id="navbar-wrapper">
        <ul class="nav-menu">
            <li>
                <a routerLink="/index" routerLinkActive="active">Home</a>
            </li>
            <li class="dropdown" routerLinkActive="active">
                <a class="dropdown-toggle" href="href=&quot;javascript:;" data-toggle="dropdown">Pages
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" routerLink="/import" routerLinkActive="active">Import</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/dataprocess" routerLinkActive="active">Data Processing</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/deanonymization" routerLinkActive="active">De-Anonymization</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/analysis" routerLinkActive="active">Analysis</a>
                    </li>
                </ul>
            </li>
            <!-- <li class="dropdown" routerLinkActive="active">
                <a class="dropdown-toggle" href="href=&quot;javascript:;" data-toggle="dropdown">Graphs
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" routerLink="/cytoscape" routerLinkActive="active">Cytoscape</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/d3chart" routerLinkActive="active">D3</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/arborjs" routerLinkActive="active">Arborjs</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/cytoscapejs" routerLinkActive="active">Cytoscapejs</a>
                    </li>
                </ul>
            </li> -->
        </ul>
    </div>
</div>
