.ui-table-scrollable-body table .ui-table-tbody tr:first-child td {
    border-top: 0 none;
    }
.ui-table .ui-table-tbody tr td {
    border: 1px solid #e9ecef;
    box-sizing: border-box;
    padding: .75em .75em;
    border-width: 1px;
    border-style: solid;
    vertical-align: middle;
    text-align: left;
    cursor: auto;
    }
    
.ui-table .ui-table-tbody tr:nth-child(even) {
    background-color: #fff;
    }
.ui-table.ui-table-hoverable-rows .ui-table-tbody  tr:not(.ui-state-highlight):hover {
    cursor: pointer;
    background: rgba(0,0,0,.05);
    color: #212121;
    }
.ui-widget :active {
    outline: none;
    }

.ui-datatable .ui-datatable-thead tr th {
    border: 1px solid #e9ecef;
    box-sizing: border-box;
    padding: 16px 10.5px;
    border-width: none;
    border-style: solid;
    font-weight: bold;
    vertical-align: middle;
    text-align: left;
    }
.ui-table .ui-table-thead tr th {
    box-sizing: border-box;
    padding: 16px 10.5px;
    border-width: none;
    border-style: solid;
    font-weight: 600;
    vertical-align: middle;
    text-align: left;
    background: #e9ecef;
    color: #495057;
    outline: none;
    }
.ui-table .ui-sortable-column:not(.ui-state-highlight):hover {
    background: #e9ecef;
    color: #495057;
    }
.ui-table .ui-sortable-column.ui-state-highlight {
    background: #e9ecef;
    color: #495057;
    }
.ui-table .ui-sortable-column .ui-sortable-column-icon {
    color: #495057;
    }
.ui-table .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
    color: #495057;
        }
p-sorticon {
    text-align: right;
    float: right;
}

   